<div id="favouriteAdd">
  <form #addChipForm="ngForm">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Add new Favourite</h4>
        <button type="button" class="close" aria-label="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="validForm">
          <div class="row mx-2 mb-2">
            <div class="form-group mt-2">
              <div>Like Date</div>
              <div class="form-control"> {{ likeDate | date: "dd/MM/yyyy - hh:mm:ss - a" }} </div>
            </div>
            <div class="form-group mt-2">
              <div>Product</div>
              <select class="form-select" [(ngModel)]="fav.productId" formControlName="productId">
                <option *ngFor="let pro of pros" [value]="pro.id">
                  {{pro.name}}
                </option>
              </select>
              <div *ngIf="validForm.controls['productId'].invalid && validForm.controls['productId'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['productId'].errors?.['required']"> Product không được để trống
                </small>
              </div>
            </div>
            <div class="form-group mt-2">
              <div>Account</div>
              <select class="form-select" [(ngModel)]="fav.accountId" formControlName="accountId">
                <option *ngFor="let acc of accs" [value]="acc.id">
                  {{acc.fullname}}
                </option>
              </select>
              <div *ngIf="validForm.controls['accountId'].invalid && validForm.controls['accountId'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['accountId'].errors?.['required']"> Account không được để trống
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="validForm.invalid" class="btn btn-success" (click)="createFavourite()" >Create</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
      </div>
    </ng-template>
    <button class="btn btn-success mb-2" (click)="open(content)">Add new favourite</button>
  </form>
</div>
