<div class="row">
  <div class="col-2 p-0" style="min-height: 795px;">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%;">
        <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4"> Shop</span>
      </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="nav-link active text-white"
                      aria-current="page">
                      <i class="bi bi-house-door"></i>
                      Trang chủ
                  </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="nav-link text-white "
                    aria-current="page">
                    <i class="bi bi-house-door"></i>
                    Danh Mục
                </a>
            </li>
            <li>
              <a [routerLink]="['/products']" class="nav-link text-white">
                  <i class="bi bi-display"></i>
                  Sản phẩm
              </a>
          </li>
          <li>
            <a [routerLink]="['/groupcomponent']" class="nav-link text-white">
                <i class="bi bi-display"></i>
                Group_Component
            </a>
        </li>
        <li>
          <a [routerLink]="['/color']" class="nav-link  text-white">
              <i class="bi bi-display"></i>
              Color
          </a>
      </li>
      <li>
        <a [routerLink]="['/brand']" class="nav-link  text-white">
            <i class="bi bi-display"></i>
            Brands
        </a>
    </li>
          <li>
              <a [routerLink]="['/users']" class="nav-link text-white">
                  <i class="bi bi-people-fill"></i>
                  Người dùng
              </a>
          </li>


          </ul>
          <hr>
          <div class="dropdown">

              <ul class="dropdown-menu dropdown-menu-dark bg-dark text-small shadow" aria-labelledby="dropdownUser1">

                  <li>
                      <hr class="dropdown-divider">
                  </li>

              </ul>
          </div>
      </div>

  </div>
  <div class="col-9 p-0 mt-4" style="margin-left: 5%;">
      <div class="col">
          <h2 style="font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: underline;">
              Trang chủ </h2>
          <h2 style="font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; text-decoration: underline;">
              chỗ này để thoogns kê </h2>


      </div>

  </div>
</div>
