
  <div class="col">
      <h2 class="mt-3" style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif ">
          Doanh Thu Hôm Nay: <span  style="font-size: 25px; color: rgb(238, 7, 61);">{{doanhthu | currency:'VND'}} </span></h2>
       <!-- <div class="m-2" *ngIf="isLoading">
          <div class="pull-right label label-info row col" style="min-height: 700px !important;">
              <div class="spinner-border" role="status"
                  style="margin: auto; width: 6em;height: 6em; border: 0.7em solid black currentColor;">
              </div>
          </div>
      </div> -->
     <div class="row">
          <div class="p-3 border rounded col-5 m-4" style="margin-left: 6% !important;">
              <h4 style="font-size: 16px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                  Theo ngày</h4>
              <mat-tab-group>
                  <mat-tab label="Biểu đồ">
                      <div id="divChart">
                          <canvas id="chart"></canvas>
                      </div>
                  </mat-tab>
                  <mat-tab label="Bảng">
                      <table #sortDate="matSort" mat-table [dataSource]="listDataDate" matSort class="mat-elevation-z8">
                          <ng-container matColumnDef="index">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
                              <td mat-cell *matCellDef="let row, let i = index">{{i+1}}</td>
                          </ng-container>

                          <ng-container matColumnDef="totalOrder">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Số đơn hàng</th>
                              <td mat-cell *matCellDef="let row">{{row.totalOrder}}</td>
                          </ng-container>
                          <ng-container matColumnDef="totalMoney">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng tiền</th>
                              <td mat-cell *matCellDef="let row">{{row.totalMoney|currency:'VND'}}</td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="columnsDate"></tr>
                          <tr mat-row *matRowDef="let row; columns: columnsDate;"></tr>
                      </table>
                      <mat-paginator #MatPaginatorDate [length]="lengthDate" [pageSize]="5"
                          [pageSizeOptions]="[5, 10, 25, 50, 100]">
                      </mat-paginator>
                  </mat-tab>
              </mat-tab-group>
          </div>
         <div class="p-3 border rounded col-5 m-4" style="margin-left: 6% !important;">
              <h4 style="font-size: 16px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                  Theo tháng</h4>

              <mat-tab-group>
                  <mat-tab label="Biểu đồ">
                      <div id="divChart">
                          <canvas id="chartMonth"></canvas>
                      </div>
                  </mat-tab>
                  <mat-tab label="Bảng">
                      <table #sortMonth="matSort" mat-table [dataSource]="listDataMonth" matSort class="mat-elevation-z8">
                          <ng-container matColumnDef="index">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
                              <td mat-cell *matCellDef="let row, let i = index">{{i+1}}</td>
                          </ng-container>
                          <ng-container matColumnDef="year">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tháng</th>
                              <td mat-cell *matCellDef="let row">{{row.month+"/"+row.year}}</td>
                          </ng-container>
                          <ng-container matColumnDef="totalOrder">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Số đơn hàng</th>
                              <td mat-cell *matCellDef="let row">{{row.totalOrder}}</td>
                          </ng-container>
                          <ng-container matColumnDef="totalMoney">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng tiền</th>
                              <td mat-cell *matCellDef="let row">{{row.totalMoney|currency:'VND'}}</td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="columnsMonth"></tr>
                          <tr mat-row *matRowDef="let row; columns: columnsMonth;"></tr>
                      </table>
                      <mat-paginator #MatPaginatorMonth [length]="lengthMonth" [pageSize]="5"
                          [pageSizeOptions]="[5, 10, 25, 50, 100]">
                      </mat-paginator>
                  </mat-tab>
              </mat-tab-group>
          </div>
          <div class="col-11 m-4 p-3 border rounded" style="margin-left: 6% !important;">
              <h4 style="font-size: 16px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                  Theo năm</h4>
              <div class="row">
                  <div id="divChart" class="p-5 col-6">
                      <canvas id="chartYear"></canvas>
                  </div>
                   <div class="col-5 offset-1 pt-5">
                      <table #sortYear="matSort" mat-table [dataSource]="listDataYear" matSort class="mat-elevation-z8">
                          <ng-container matColumnDef="index">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>STT</th>
                              <td mat-cell *matCellDef="let row, let i = index">{{i+1}}</td>
                          </ng-container>
                          <ng-container matColumnDef="year">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Năm</th>
                              <td mat-cell *matCellDef="let row">{{row.year}}</td>
                          </ng-container>
                          <ng-container matColumnDef="totalOrder">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Số đơn hàng</th>
                              <td mat-cell *matCellDef="let row">{{row.totalOrder}}</td>
                          </ng-container>
                          <ng-container matColumnDef="totalMoney">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng tiền</th>
                              <td mat-cell *matCellDef="let row">{{row.totalMoney|currency:'VND'}}</td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="columnsYears"></tr>
                          <tr mat-row *matRowDef="let row; columns: columnsYears;"></tr>
                      </table>
                      <mat-paginator #MatPaginatorYear [length]="lengthYears" [pageSize]="5"
                          [pageSizeOptions]="[5, 10, 25, 50, 100]">
                      </mat-paginator>
                  </div>
              </div>
          </div>
      </div>

