<div class="row">
  <div class="col-2 p-0" style="min-height: 795px;">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%;">
          <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4"> Shop</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="nav-link text-white"
                      aria-current="page">
                      <i class="bi bi-house-door"></i>
                      Trang chủ
                  </a>
              </li>
              <li>
                  <a [routerLink]="['/categories']" class="nav-link  text-white">
                      <i class="bi bi-tags"></i>
                      Danh Mục
                  </a>
              </li>
              <li>
                  <a [routerLink]="['/products']" class="nav-link text-white">
                      <i class="bi bi-display"></i>
                      Sản phẩm
                  </a>
              </li>
              <li>
                <a [routerLink]="['/groupcomponent']" class="nav-link active text-white">
                    <i class="bi bi-display"></i>
                    Group_Component
                </a>
            </li>
            <li>
              <a [routerLink]="['/color']" class="nav-link  text-white">
                  <i class="bi bi-display"></i>
                  Color
              </a>
          </li>
          <li>
            <a [routerLink]="['/brand']" class="nav-link  text-white">
                <i class="bi bi-display"></i>
                Brands
            </a>
        </li>
              <li>
                  <a [routerLink]="['/users']" class="nav-link text-white">
                      <i class="bi bi-people-fill"></i>
                      Người dùng
                  </a>
              </li>
          </ul>
          <hr>
          <div class="dropdown">


          </div>
      </div>

  </div>
  <div class="col-9 p-0 mt-4" style="margin-left: 5%;">
      <div class="col">
        <p-toolbar styleClass="mb-4">
          <a  [routerLink]="'/groupcomponent'" class="btn btn-primary " >LIST</a>
        </p-toolbar>
        <p-card>
          <form action="" [formGroup]="AddForm" (ngSubmit)="addNew()">
              <p-toast position="top-right"></p-toast>
              <div class="d-flex gap-3">
                  <div class="col col-lg-6">


                      <div class="mb-4">
                          <mdb-form-control>
                              <input mdbInput type="text" formControlName="name" class="form-control" />
                              <label mdbLabel class="form-label" for="name">Group Name</label>
                          </mdb-form-control>
                      </div>
                                         <div class="mb-3">
                        <div class="form-group">
                          <label for="">Choose GroupId</label>
                          <select class="form-control" formControlName="brand_id">
                            <option  *ngFor="let item of brands">
                              {{ item.brandName }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="mb-4">
                          <!-- <div class="form-group">
                              <label for="">Choose status</label>
                              <select (change)="selectOption($event)" class="form-select">
                                  <option [value]="item.value" *ngFor="let item of status">
                                      {{ item.name }}
                                  </option>
                              </select>
                          </div> -->
                      </div>
                      <div class="d-flex justify-content-between">
                          <button class="btn btn-primary btn-sm">Submit</button>
                      </div>
                  </div>
              </div>
          </form>
        </p-card>








      </div>
  </div>
</div>
