<section>
  <div class="row m-5">
    <div>
      <a [routerLink]="['/list-voucher']" class="btn btn-primary mb-3"> List Voucher </a>
    </div>
    <div class="card">
      <div class="card-header">
        Create Voucher
      </div>
      <div class="card-body">
        <form [formGroup]="validForm">
          <div class="row mx-2 mb-2">
            <div class="form-group mt-2">
              <div>Value</div>
              <input formControlName="value" type="text" [ngModel]="vou.value" class="form-control"/>
              <div *ngIf="validForm.controls['value'].invalid && validForm.controls['value'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['value'].errors?.['required']"> Value không được để trống</small>
              </div>
            </div>
            <div class="form-group mt-2">
              <div>Detail</div>
              <input formControlName="detail" type="text" [ngModel]="vou.detail" class="form-control"/>
              <div *ngIf="validForm.controls['detail'].invalid && validForm.controls['detail'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['detail'].errors?.['required']"> Detail không được để trống
                </small>
              </div>
            </div>
            <div class="form-group mt-2">
              <div>Status</div>
              <select class="form-select" [(ngModel)]="vou.status" formControlName="status">
                <option value="1"> Active </option>
                <option value="0"> In Active </option>
              </select>
              <div *ngIf="validForm.controls['status'].invalid && validForm.controls['status'].touched"
              class="text-danger">
              <small *ngIf="validForm.controls['status'].errors?.['required']"> Trạng thái không được để trống</small>
            </div>
            </div>
            <div class="form-group mt-2">
              <div>Start Date</div>
              <div class="form-control"> {{ startDate | date: "dd/MM/yyyy - hh:mm - a" }} </div>
            </div>
            <div class="form-group mt-2">
              <div>End Date</div>
              <input formControlName="endDate" type="datetime-local" [ngModel]="vou.endDate" class="form-control"/>
              <div *ngIf="validForm.controls['endDate'].invalid && validForm.controls['endDate'].touched"
                class="text-danger">
                <small *ngIf="validForm.controls['endDate'].errors?.['required']"> Ngày kết thúc không được để trống</small>
              </div>
            </div>
          </div>
        </form>
        <button (click)="createVoucher()" [disabled]="validForm.invalid" class="btn btn-success mt-3"> Create </button>
      </div>
    </div>
  </div>
</section>

