


      <div class="col">



          <div class="m-2">
            <div class="card">
              <p-toolbar styleClass="mb-4">
                  <a  [routerLink]="'/groupcomponent/add'"  class="btn btn-primary" >Add new</a>
              </p-toolbar>

              <p-table #dt [value]="group_component" [rows]="5" [paginator]="true"  responsiveLayout="scroll" [rowHover]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                  <ng-template pTemplate="header">
                      <tr>
                          <th pSortableColumn="name">Name <p-sortIcon ></p-sortIcon></th>
                          <th pSortableColumn="brandId">brandId <p-sortIcon ></p-sortIcon></th>
                          <th pSortableColumn="createDate">createDate <p-sortIcon ></p-sortIcon></th>
                          <th pSortableColumn="updateDate">updateDate <p-sortIcon ></p-sortIcon></th>
                          <th>Action</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-group_component>
                      <tr>
                          <td>{{group_component?.name}}</td>
                        <td>{{group_component?.brand_id}}</td>
                          <td>{{group_component?.startDate}}</td>
                          <td>{{group_component?.updateDate}}</td>



                          <td>
                              <button [routerLink]="['/groupcomponent/'+group_component.id]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"  ></button>
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                      <div class="flex align-items-center justify-content-between">
                          In total there are {{group_component ? group_component?.length : 0 }}
                      </div>
                  </ng-template>
              </p-table>
          </div>



          </div>
      </div>


