<div class="row">
  <div class="col-2 p-0" style="min-height: 795px;">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100%;">
          <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-4"> Shop</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="nav-link text-white"
                      aria-current="page">
                      <i class="bi bi-house-door"></i>
                      Trang chủ
                  </a>
              </li>
              <li>
                  <a [routerLink]="['/categories']" class="nav-link  text-white">
                      <i class="bi bi-tags"></i>
                      Danh Mục
                  </a>
              </li>
              <li>
                  <a [routerLink]="['/products']" class="nav-link text-white">
                      <i class="bi bi-display"></i>
                      Sản phẩm
                  </a>
              </li>
              <li>
                <a [routerLink]="['/groupcomponent']" class="nav-link  active text-white">
                    <i class="bi bi-display"></i>
                    Group_Component
                </a>
            </li>
            <li>
              <a [routerLink]="['/color']" class="nav-link  text-white">
                  <i class="bi bi-display"></i>
                  Color
              </a>
          </li>
          <li>
            <a [routerLink]="['/brand']" class="nav-link  text-white">
                <i class="bi bi-display"></i>
                Brands
            </a>
        </li>
              <li>
                  <a [routerLink]="['/users']" class="nav-link text-white">
                      <i class="bi bi-people-fill"></i>
                      Người dùng
                  </a>
              </li>
          </ul>
          <hr>
          <div class="dropdown">


          </div>
      </div>

  </div>
  <div class="col-9 p-0 mt-4" style="margin-left: 5%;">
      <div class="col">



          <div class="m-2">
            <div class="card">
              <p-toolbar styleClass="mb-4">
                  <a  [routerLink]="'/groupcomponent/add'" style="margin-left: 950px;" class="btn btn-primary" >Add new</a>
              </p-toolbar>

              <p-table #dt [value]="group_component" [rows]="5" [paginator]="true"  responsiveLayout="scroll" [rowHover]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                  <ng-template pTemplate="header">
                      <tr>
                          <th pSortableColumn="name">Name <p-sortIcon ></p-sortIcon></th>
                          <th pSortableColumn="brandId">brandId <p-sortIcon ></p-sortIcon></th>
                          <th pSortableColumn="createDate">createDate <p-sortIcon ></p-sortIcon></th>
                          <th pSortableColumn="updateDate">updateDate <p-sortIcon ></p-sortIcon></th>
                          <th>Action</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-group_component>
                      <tr>
                          <td>{{group_component?.name}}</td>
                        <td>{{group_component?.brand_id
                        }}</td>
                          <td>{{group_component?.startDate}}</td>
                          <td>{{group_component?.updateDate}}</td>



                          <td>
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"  ></button>
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                      <div class="flex align-items-center justify-content-between">
                          In total there are {{group_component ? group_component?.length : 0 }}
                      </div>
                  </ng-template>
              </p-table>
          </div>



          </div>
      </div>
  </div>
</div>
