
      <div class="col">



          <div class="m-2">
            <div class="card">
              <p-toolbar styleClass="mb-4">
                  <a  [routerLink]="'/categories/add'" style="margin-left: 950px;" class="btn btn-primary" >Add new</a>
              </p-toolbar>

              <p-table #dt [value]="brands" [rows]="5" [paginator]="true"  responsiveLayout="scroll" [rowHover]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                  <ng-template pTemplate="header">
                      <tr>

                          <th pSortableColumn="brandName">brandName <p-sortIcon ></p-sortIcon></th>
                          <th pSortableColumn="description">description <p-sortIcon ></p-sortIcon></th>
                       <th>Action</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-brands>
                      <tr>
                          <td>{{brands?.brandName}}</td>
                          <td>{{brands?.description}}</td>
                          <td>
                              <button [routerLink]="['/brand/edit/'+ brands.id]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"  ></button>
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                      <div class="flex align-items-center justify-content-between">
                          In total there are {{brands ? brands?.length : 0 }}
                      </div>
                  </ng-template>
              </p-table>
          </div>



          </div>
      </div>

